body {
    background-color: #808080;
    text-align: center;
    font-family: 'Raleway', Helvetica, sans-serif;
    min-width: 320px;
  }

  header {
    font-size: 2em;
    font-weight: bold;
    margin: 20px;
  }